.add-product {
  border-top: 1px solid #cdcdcd;
  padding: 13px 0 16px;
}

.add-product__title {
  margin: 0;
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.add-product__info {
  width: 100%;
  margin-bottom: 13px;

  font-family: $font-second;
  font-size: 14px;
  line-height: 14px;
  color: $fc-grey;
}

.add-product__info tr {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .add-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 26px 38px;
  }

  .add-product__title {
    width: 287px;
    font-size: 20px;
    line-height: 20px;
  }

  .add-product__info {
    width: 287px;
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 20px;
  }

  .add-product__info tr {
    justify-content: flex-end;
  }

  .add-product__info td {
    margin-left: 50px;
  }

  .add-product__button {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .add-product {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 16px;
  }

  .add-product__title {
    width: 245px;
    margin: 0;
    margin-right: 40px;
  }

  .add-product__info {
    width: 285px;
    margin: 0 40px;
  }

  .add-product__info tr {
    justify-content: space-between;
  }

  .add-product__info td {
    margin-left: 0;
  }

  .add-product__button {
    width: 245px;
  }
}
