.add-catalog {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 0 20px;
}

.add-catalog__title {
  margin: 0;
  margin-bottom: 34px;
}

.add-catalog__list {
  @include list-reset;

  margin-bottom: 39px;

  border-bottom: 1px solid #cdcdcd;
}

.add-catalog__bonus {
  position: relative;

  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: $bg-green;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/gift-photo-mobile@2x.jpg");
  }
}

.add-catalog__bonus::before {
  content: "";

  position: absolute;
  top: 65px;
  left: 113px;

  width: 55px;
  height: 60px;

  background-image: url("../../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.add-catalog__bonus-desc {
  margin: 0;
  padding: 188px 60px 41px;

  font-family: $font-second;
  font-size: 16px;
  line-height: 20px;
  color: $fc-white;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .add-catalog {
    width: 708px;
    margin-bottom: 76px;
    padding: 0 30px;
  }

  .add-catalog__title {
    padding-left: 36px;
    margin-bottom: 80px;
  }

  .add-catalog__list {
    margin-bottom: 69px;

    border: 1px solid #cdcdcd;
    border-top: 0;
  }

  .add-catalog__bonus {
    background-image: url("../../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/gift-photo-tablet@2x.jpg");
    }
  }

  .add-catalog__bonus::before {
    left: 91px;
  }

  .add-catalog__bonus-desc {
    padding: 73px 122px 68px 424px;

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .add-catalog {
    width: 1300px;
  }

  .add-catalog__wrapper {
    display: flex;
  }

  .add-catalog__list {
    width: 895px;
    margin: 0 40px;

    border: 0;
    border-bottom: 1px solid #cdcdcd;
  }

  .add-catalog__bonus {
    width: 245px;
    margin: 0 40px;

    background-image: url("../../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/gift-photo-desktop@2x.jpg");
    }
  }

  .add-catalog__bonus::before {
    left: 96px;
  }

  .add-catalog__bonus-desc {
    padding: 188px 38px 40px;

    text-align: center;
  }
}
