.add-product {
  padding: 13px 0 17px;
}

.add-product__title {
  margin: 0;
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.add-product__info {
  margin-bottom: 13px;

  font-family: $font-second;
  font-size: 14px;
  line-height: 14px;
  color: $fc-grey;
}
