.button {
  display: block;
  padding: 11px 0;

  font-size: 16px;
  line-height: 20px;
  color: $fc-white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: $bg-green;
  border: 0;

  &:hover,
  &:focus {
    background-color: $bg-green-dark;
  }

  &:active {
    color: rgba($fc-white, 0.3%);
  }
}

.button--grey {
  color: $fc-grey;
  background-color: $bg-grey;

  &:hover,
  &:focus {
    background-color: $bg-grey-dark;
  }

  &:active {
    color: rgba($fc-grey, 0.3%);
  }
}
