.button {
  display: block;
  padding: 10px 0;

  font-family: $font-main;
  font-size: 16px;
  line-height: 20px;
  color: $fc-white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: $bg-green;
  border: 0;

  &:hover,
  &:focus {
    background-color: $bg-green-dark;
  }

  &:active {
    color: rgba($fc-white, 0.3);
  }
}

.button--promo {
  padding: 11px 0;

  font-size: 14px;
  line-height: 18px;
}

.button--grey {
  color: $fc-grey;
  background-color: $bg-grey;

  &:hover,
  &:focus {
    background-color: $bg-grey-dark;
  }

  &:active {
    color: rgba($fc-grey, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .button--promo {
    padding: 16px 0;

    font-size: 20px;
    line-height: 20px;
  }

  .button--form {
    padding: 16px 0;

    font-size: 20px;
    line-height: 20px;
  }
}
