.catalog {
  width: 320px;
  margin: 0 auto;
}

.catalog__title {
  margin: 0 0 28px;
  padding: 15px 0 0 20px;
}

.catalog__list {
  @include list-reset;

  border: 1px solid #ededed;
}

@media (min-width: $tablet-width) {
  .catalog {
    width: 768px;
    margin: 0 auto;
  }

  .catalog__title {
    margin: 0 0 77px;
    padding: 0 0 0 30px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;

    border: 0;
  }

  .catalog__item {
    margin: 90px 30px 50px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 1300px;
  }

  .catalog__title {
    margin: 0 0 43px;
    padding: 45px 0 0 40px;
  }

  .catalog__item {
    margin: 122px 40px 20px;
  }
}
