.catalog-more {
  padding: 80px 18px 24px;

  text-align: center;
}

.catalog-more__title {
  margin: 0 0 8px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-more__text {
  margin: 0 0 21px;

  font-family: $font-second;
  font-size: 12px;
  line-height: 16px;
  color: $fc-grey;
}

.catalog-more__button {
  position: relative;
}

.catalog-more__button::before {
  content: "";

  position: absolute;
  top: -118px;
  left: 125px;

  width: 30px;
  height: 30px;

  background-image: url("../img/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $tablet-width) {
  .catalog-more {
    width: 248px;
    padding: 162px 37px 39px;

    border: 1px solid $bg-grey;
  }

  .catalog-more__title {
    margin: 0 0 28px;
    padding: 0 55px;

    font-size: 20px;
  }

  .catalog-more__text {
    margin: 0 0 84px;
    padding: 0 40px;

    font-size: 16px;
    line-height: normal;
  }

  .catalog-more__button::before {
    width: 60px;
    height: 60px;

    top: -297px;
    left: 94px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-more {
    width: 169px;
  }

  .catalog-more__title {
    padding: 0;
  }

  .catalog-more__text {
    padding: 0;
  }

  .catalog-more__button::before {
    left: 55px;
  }
}
