.catalog-more {
  padding: 0 18px 24px;

  text-align: center;
}

.catalog-more__button-plus {
  display: block;
  margin-bottom: 21px;
  padding-top: 26px;
}

.catalog-more__title {
  margin: 0;
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-more__text {
  margin: 0;
  margin-bottom: 22px;

  font-family: $font-second;
  font-size: 12px;
  line-height: 16px;
  color: $fc-grey;
}

.catalog-more__button {
  padding: 10px 0;
}

@media (min-width: $tablet-width) {
  .catalog-more {
    width: 248px;
    padding: 0 37px 39px;

    border: 1px solid #cdcdcd;
  }

  .catalog-more__button-plus {
    margin-bottom: 45px;
    padding-top: 55px;
  }

  .catalog-more__image {
    width: 60px;
    min-height: 60px;
  }

  .catalog-more__title {
    margin-bottom: 28px;
    padding: 0 55px;

    font-size: 20px;
  }

  .catalog-more__text {
    margin-bottom: 84px;
    padding: 0 40px;

    font-size: 16px;
    line-height: normal;
  }
}

@media (min-width: $desktop-width) {
  .catalog-more {
    width: 169px;
  }

  .catalog-more__title {
    padding: 0;
  }

  .catalog-more__text {
    padding: 0;
  }
}
