.catalog-more {
  text-align: center;
}

.catalog-more__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-more__text {
  font-family: $font-second;
  font-size: 12px;
  line-height: 16px;
  color: $fc-grey;
}
