.contacts {
  padding: 30px 0;

  &--bg-grey {
    background-color: $bg-grey;
  }
}

.contacts__cooperation {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  font-family: $font-second;
  font-size: 14px;
  line-height: 20px;
  color: $fc-grey;
}
