.contacts {
  width: 320px;
  margin: 0 auto;
}

.contacts__info-block {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 25px;

  &--bg-grey {
    background-color: $bg-grey;
  }
}

.contacts__cooperation {
  width: 140px;
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  width: 140px;
  margin: 0;

  font-family: $font-second;
  font-size: 14px;
  line-height: 20px;
  color: $fc-grey;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: 768px;
  }

  .contacts__info-block {
    width: 628px;
    margin: 0 auto;
    padding: 40px;
  }

  .contacts__cooperation {
    width: 160px;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    width: 160px;

    font-size: 16px;
    text-align: right;
  }

  .contacts__address span {
    display: inline-block;
    padding-top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    width: 1440px;
  }
}
