.example {
  padding: 0 20px;

  background-color: $bg-grey;
}

.example__title {
  margin: 0;
  margin-bottom: 25px;
}

.example__desc {
  margin: 0;
  margin-bottom: 25px;

  font-family: $font-second;
  font-size: 14px;
  line-height: 18px;
  color: $fc-white;
}

.example__list {
  @include list-reset;

  margin-bottom: 20px;
}

.example__result {
  margin: 0;

  font-family: $font-second;
  font-size: 12px;
  line-height: 12px;
}

.example__result-value {
  font-family: $font-basic;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__cost {
  margin: 0;

  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
