.example {
  background-color: $bg-grey;
}

.example__wrapper {
  width: 280px;
  margin: 0 auto 15px;
  padding: 18px 20px;
}

.example__title {
  margin: 0 0 22px;
}

.example__desc {
  margin: 0 0 25px;
  padding: 0 5px 0 0;

  font-family: $font-second;
}

.example__list {
  @include list-reset;

  display: flex;
  justify-content: space-between;

  margin: 0 0 35px;
}

.example__item {
  width: 88px;
  padding: 13px 17px 8px;

  text-align: center;

  border: 1px solid #d9d9d9;
}

.example__result {
  margin: 0 0 -25px;

  font-family: $font-main;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__result-value {
  display: block;
  margin: 10px 0 0;
  padding: 0 4px;

  font-family: $font-second;
  font-size: 12px;
  line-height: 12px;
  text-transform: none;

  background-color: $bg-grey;
}

.example__cost {
  margin: 0;

  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.example__image--after {
  display: none;
}

.example__comparisons {
  width: 320px;
  margin: 0 auto;
}

.example__switch {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 29px 0 36px;
}

.example__button {
  padding: 0;

  font-family: $font-main;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  background: transparent;

  border: 0;
}

.example__range {
  position: relative;

  display: inline-block;
  width: 82px;
  height: 12px;
  margin: 0 18px;

  background-color: $bg-white;

  border: 1px solid #cdcdcd;
  border-radius: 5px;
}

.example__range-scale {
  position: absolute;
  top: 3px;
  left: 5px;

  width: 35px;
  height: 6px;

  background-color: $bg-green;

  border-radius: 3px;
}

@media (min-width: $tablet-width) {
  .example {
    border-top: 1px solid #d9d9d9;

    background-color: transparent;
    background-image: linear-gradient($bg-white 57%, $bg-grey 57%);
  }

  .example__wrapper {
    width: 708px;
    margin: 0 auto 50px;
    padding: 0 30px;
  }

  .example__title {
    margin: 0 0 65px;
    padding: 43px 0 0;
  }

  .example__desc {
    margin: 0 0 53px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__info {
    display: flex;
    justify-content: space-between;
  }

  .example__list {
    width: 366px;
  }

  .example__item {
    width: 132px;
    padding: 14px 14px 0;
  }

  .example__result {
    margin: 0 0 -5px;

    font-size: 30px;
    line-height: 37px;
  }

  .example__result-value {
    padding: 0;

    font-size: 14px;
    line-height: 14px;

    background-color: $bg-white;
  }

  .example__cost {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    font-size: 20px;
    line-height: 20px;
  }

  .example__cost span {
    margin: 10px 0 0;
  }

  .example__comparisons {
    width: 708px;
  }

  .example__gallery {
    margin: 0 auto;

    text-align: right;
  }

  .example__switch {
    margin: 0 auto;
    padding: 10px 0 66px;
  }

  .example__button {
    font-size: 20px;
    padding: 7px 0 7px;

    border-bottom: 1px dotted rgba(#111111, 0.23);
    cursor: pointer;
    outline: none;

    &:hover,
    &:focus {
      border-bottom: 1px solid rgba(#111111, 0.40);
    }

    &:active {
      border-color: transparent;
    }
  }

  .example__range {
    width: 428px;
    height: 6px;
    margin: 0 24px;

    background-color: #dcdcdc;

    border: none;
    border-radius: 2px;
  }

  .example__range-scale {
    top: 50%;
    left: 50%;

    box-sizing: border-box;
    width: 34px;
    height: 34px;

    background: #ffffff;

    border: 1px solid #cdcdcd;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(#000000, 0.15);

    transform: translate(-50%, -50%);

    &::before {
      content: "";

      position: absolute;
      top: 50%;
      left: 50%;

      width: 8px;
      height: 8px;
      background-color: $bg-green;

      border-radius: 50%;

      transform: translate(-50%, -50%);
    }

    &:hover,
    &:focus {
      box-shadow: 0 3px 5px 0 rgba(#000000, 0.25);
    }

    &:active {
      border: 2px solid $bg-green;
      box-shadow: 0 4px 5px 0 rgba(#000000, 0.25);
    }
  }
}

@media (min-width: $desktop-width) {
  .example {
    display: flex;
    justify-content: center;
    padding: 0 0 67px;

    border: none;

    background-image: linear-gradient($bg-white 29%, $bg-grey 29%);
  }

  .example__wrapper {
    width: 570px;
    margin: 0;
    padding: 0 0 0 40px;
  }

  .example__title {
    margin: 0 0 147px;
    padding: 55px 0 0;
  }

  .example__desc {
    margin: 0 0 68px;
    padding: 0 135px 0 0;
  }

  .example__info {
    flex-direction: column;
  }

  .example__list {
    margin: 0 0 60px;
  }

  .example__result-value {
    background-color: $bg-grey;
  }

  .example__cost {
    flex-direction: row;
    justify-content: space-between;
    width: 327px;
  }

  .example__cost span {
    margin: 0;
  }

  .example__comparisons {
    width: 690px;
    margin: 0;
  }

  .example__gallery {
    padding: 0;
    text-align: left;
  }

  .example__switch {
    width: 570px;
  }

  .example__switch {
    padding: 30px 0 0 40px;
  }
}
