.features {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 42px;
}

.features__title {
  margin: 0;
  margin-bottom: 25px;
}

.features__list {
  @include list-reset;
}

.features__item {
  margin-bottom: 20px;
  padding-left: 80px;
}

.features__desc {
  margin: 0;
  padding: 3px 0 3px;

  font-family: $font-second;
}

@media (min-width: $tablet-width) {
  .features {
    width: 768px;

    border-bottom: 1px solid #d9d9d9;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    width: 246px;
    margin: 35px 30px 55px;
    padding: 112px 78px 45px 0;
  }

  .features__title {
    margin: 0 0 36px 30px;
  }

  .features__desc {
    padding: 0;

    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .features {
    width: 1300px;
    margin-bottom: 75px;

    border: none;
  }

  .features__title {
    margin: 0 0 75px 40px;
  }

  .features__item {
    width: 245px;
    margin: 0 40px;
    padding: 110px 0 50px;
  }
}
