.field-input {
  position: relative;

  padding: 0;
  border: 0;
}

.field-input__title {
  max-width: 181px;
  margin: 0 0 20px;
  padding: 4px 20px 15px 0;

  background-color: #ffffff;

  &::after {
    content: "";
    position: absolute;
    top: 18px;
    right: -20px;

    width: 100%;
    height: 3px;

    background: $bg-green;
    z-index: -1;
  }
}

.field-input__list {
  @include list-reset;
}

.field-input__item {
  position: relative;

  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin: 0 0 14px;
  }
}

.field-input__item svg {
  position: absolute;

  fill: #222222;
}

.field-input__item--mail svg {
  right: 16px;
}
.field-input__item--phone svg {
  right: 13px;
}

.field-input__input:focus + svg,
.field-input__input:active + svg {
  fill: $bg-green;
}

.field-input__input:invalid + svg {
  fill: #ff8282;
}

.field-input__label {
  flex-shrink: 0;
  margin: 0 15px 0 0;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.field-input__input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 15px 13px;

  font-family: $font-main;
  font-size: 16px;
  line-height: 18px;
  color: $fc-grey;
  text-transform: uppercase;

  border: 1px solid rgba(#cdcdcd, 0.5);

  &::placeholder {
    font-family: $font-main;
    font-size: 16px;
    line-height: 18px;
    color: $fc-grey;
    text-transform: uppercase;
  }

  &:hover {
    border-color: rgba(#cdcdcd, 1);
  }

  &:active,
  &:focus {
    padding: 11px 14px 12px;

    border: 2px solid #444444;
  }

  &:invalid {
    padding: 11px 14px 12px;

    border: 2px solid #ff8282;
  }
}

@media (min-width: $tablet-width) {
  .field-input__title {
    max-width: none;
    margin: 0 0 76px;
    padding: 23px 40px 0 0;

    &::after {
      top: 45px;
      right: -40px;
    }
  }

  .field-input__item {
    &:not(:last-child) {
      margin: 0 0 20px;
    }
  }

  .field-input__item--mail svg {
    right: 21px;
  }
  .field-input__item--phone svg {
    right: 17px;
  }

  .field-input__label {
    font-size: 20px;
    line-height: 20px;
  }

  .field-input__input {
    padding: 10px 19px;

    font-size: 20px;
    line-height: 20px;

    &::placeholder {
      font-size: 20px;
      line-height: 20px;
    }

    &:active,
    &:focus {
      padding: 9px 18px;
    }

    &:invalid {
      padding: 9px 18px;
    }
  }
}

@media (min-width: $desktop-width) {
  .field-input__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .field-input__item {
    width: 570px;
  }
}
