.form {
  width: 280px;
  margin: 0 auto;
  padding: 15px 20px;
}

.form__title {
  margin: 0 0 25px;
}

.form__desc {
  max-width: 270px;
  margin: 0 0 40px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__general {
  margin: 0 0 23px;
}

.form__program-type {
  margin: 0 -20px 23px;
}

.form__contact {
  margin: 0 0 23px;
}

.form__comment {
  margin: 0 0 23px;
}

.form__additionally {
  margin: 0 0 24px;
}

.form__button {
  width: 100%;
}

.form__footnote {
  margin: 0;
  padding: 20px 0 18px;

  font-family: $font-second;
  font-size: 14px;
  line-height: 16px;
  color: $fc-grey;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .form {
    width: 630px;
    padding: 0 37px 72px 41px;
  }

  .form__title {
    margin: 0 -40px 57px;
  }

  .form__desc {
    max-width: 340px;
    margin: 0 0 65px;

    font-size: 20px;
    line-height: 30px;
  }

  .form__general {
    margin: 0 0 72px;
  }

  .form__program-type {
    margin: 0 0 52px;
  }

  .form__contact {
    margin: 0 0 42px;
  }

  .form__comment {
    margin: 0 0 42px;
  }

  .form__additionally {
    margin: 0 0 22px;
  }

  .form__submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form__button {
    width: 283px;
  }

  .form__footnote {
    width: 285px;
    padding: 0;

    font-size: 16px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: 1220px;
    padding: 0 40px 82px;
  }

  .form__title {
    margin: 0 0 55px;
    padding: 45px 0 0;
  }

  .form__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 0 47px;
    padding: 0;
  }

  .form__general {
    width: 570px;
    margin: 0;
  }

  .form__program-type {
    box-sizing: border-box;
    width: 570px;
    margin: 0;
  }

  .form__contact {
    margin: 0 0 24px;
  }

  .form__comment {
    margin: 0 0 44px;
  }

  .form__additionally {
    margin: 0 0 29px;
  }

  .form__button {
    width: 570px;
  }

  .form__footnote {
    width: 570px;
  }
}
