.main-nav {
  position: relative;

  width: 320px;
}

.main-nav__toggle {
  position: absolute;
  top: -67px;
  right: 0;

  width: 64px;
  height: 66px;
  padding: 0;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 18px;
  border: none;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle {
  background-image: url("../../img/icon-mobile-menu.svg");
}

.main-nav--opened .main-nav__toggle {
  background-image: url("../../img/icon-close.svg");
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav__list {
  @include list-reset;

  text-align: center;
}

.main-nav__item {
  border-bottom: 1px solid #e6e6e6;
}

.main-nav__link {
  display: block;
  padding: 22px 0 23px;

  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: $fc-black;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 516px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    justify-content: flex-end;
  }

  .main-nav__item {
    padding: 0;
    margin: 0 0 0 35px;
    border: none;
  }

  .main-nav__link {
    position: relative;
    padding: 13px 0 8px;

    font-size: 18px;
    line-height: 25px;
    font-weight: 400;

    &--active {
      border-bottom: 2px solid $bg-green;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 610px;
  }

  .main-nav__link {
    font-size: 20px;
  }

  .main-nav__item--bg-green .main-nav__link {
    color: $fc-white;

    &--active {
      border-color: $bg-white;
    }
  }
}
