.page-header__container {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.page-header__logo {
  padding: 11px 0 16px 20px;

  border-bottom: 1px solid #e6e6e6;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  display: block;
}

@media (min-width: $tablet-width) {
  .page-header__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 708px;
    margin: 0 auto 57px;
    padding: 24px 0 0;
  }

  .page-header__logo {
    padding: 0;
    border: none;
  }

  .page-header__logo-image {
    width: 173px;
    height: 58px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: relative;
  }

  .page-header--index::after {
    content: "";

    position: absolute;
    top: 0;
    right: 0;

    width: 50%;
    height: 696px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
    background-color: $bg-green;
    z-index: -1;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }

  .page-header__container {
    width: 1220px;
    margin: 0 auto 29px;
    padding: 55px 0 0;
  }

  .page-header__logo-image {
    width: 202px;
    height: 59px;
  }
}
