.product {
  display: flex;
  flex-wrap: wrap;
  padding: 0 18px 24px;

  border-bottom: 1px solid #ededed;
}

.product__wrapper {
  width: 140px;
}

.product__image {
  display: block;
  margin: 0 auto;
}

.product__link-title {
  display: block;
  padding: 22px 50px 10px 0;

  font-size: 16px;
  line-height: 20px;
  color: $fc-black;
  text-decoration: none;
  text-transform: uppercase;
}

.product__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: $font-second;
  font-size: 12px;
  line-height: 16px;
}

.product__info tr {
  display: flex;
  justify-content: space-between;
}

.product__button {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .product {
    flex-direction: column;
    width: 248px;
    padding: 40px 38px 40px;

    background-color: $bg-grey;
    border: 0;
  }

  .product__link-image {
    margin-top: -80px;
  }

  .product__image {
    min-height: 171px;
    background-color: red;
  }

  .product__wrapper {
    width: 100%;
    margin-bottom: 33px;
  }

  .product__link-title {
    padding: 30px 58px 20px;

    font-size: 20px;
    text-align: center;
  }

  .product__info {
    font-size: 16px;
  }

  .product__info tr {
    padding: 7px 0 6px;

    border-bottom: 1px solid #cdcdcd;
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 169px;
  }

  .product__link-title {
    padding: 50px 15px 20px;
  }
}
