.product {
  display: flex;
  flex-wrap: wrap;
  padding: 0 19px 24px;

  border-bottom: 1px solid #ededed;
}

.product__wrapper {
  width: 140px;
}

.product__image {
  display: block;
  margin: 0 auto;
}

.product__link-title {
  display: block;
  padding: 22px 50px 10px 0;

  font-size: 16px;
  line-height: 20px;
  color: $fc-black;
  text-decoration: none;
  text-transform: uppercase;
}

.product__info {
  display: flex;
  flex-direction: column;
  width: 100%;

  font-family: $font-second;
  font-size: 12px;
  line-height: 16px;
}

.product__info tr {
  display: flex;
  justify-content: space-between;
}

.product__button {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .product {
    flex-direction: column;
    padding: 0 0 40px;

    background-color: $bg-grey;
    border: 0;
  }

  .product__link-image {
    display: flex;
    align-items: flex-end;
    width: 324px;
    min-height: 208px;
    margin: -83px 0 0;
  }

  .product__wrapper,
  .product__button  {
    width: 249px;
    margin: 0 auto;
  }

  .product__link-title {
    padding: 37px 58px 20px;

    font-size: 20px;
    text-align: center;
  }

  .product__info {
    font-size: 16px;
    margin: 0 0 33px;
  }

  .product__info tr {
    padding: 7px 0 6px;

    border-bottom: 1px solid #cdcdcd;
  }
}

@media (min-width: $desktop-width) {
  .product__link-image {
    width: 245px;
    margin: -80px 0 0;
  }

  .product__wrapper,
  .product__button {
    width: 169px;
  }

  .product__link-title {
    padding: 35px 15px 20px;
  }
}
