.product__link-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: $fc-black;
  text-decoration: none;
  text-transform: uppercase;
}

.product__info {
  font-family: $font-second;
  font-size: 12px;
  line-height: 16px;
}
