.program {
  padding: 0 20px;
}

.program__list {
  @include list-reset;
}

.program__item {
  margin-bottom: 20px;
  padding: 38px 20px 20px;

  background-color: #f2f2f2;
}

.program__title {
  margin: 0;
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.program__desc {
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 22px;

  font-family: "Ariel", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #111111;
}

.program__link {
  font-size: 16px;
  line-height: 16px;
  color: #111111;
  text-decoration: none;
  text-transform: uppercase;
}
