.program {
  width: 280px;
  margin: 0 auto;
}

.program__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
}

.program__item {
  position: relative;
  margin-bottom: 20px;
  padding: 20px;

  background-color: $bg-grey;
}

.program__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 10px 0 0 70px;

  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: $fc-black;
  text-transform: uppercase;
}

.program__item::before {
  content: "";

  position: absolute;
  top: 24px;
  left: 22px;

  width: 50px;
  height: 50px;

  background-color: $bg-green;
  border-radius: 50%;
}

.program__item--losing::after {
  content: "";

  position: absolute;
  top: 22px;
  left: 30px;

  width: 35px;
  height: 49px;

  background-image: url("../../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.program__item--gaining::after {
  content: "";

  position: absolute;
  top: 35px;
  left: 13px;

  width: 67px;
  height: 28px;

  background-image: url("../../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.program__desc {
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 22px;

  font-family: $font-second;
  font-size: 14px;
  line-height: 18px;
  color: $fc-grey;

  border-bottom: 1px solid #d9d9d9;
}

.program__link {
  display: block;

  font-size: 16px;
  line-height: 16px;
  color: $fc-black;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .program {
    width: 708px;
    margin-bottom: 13px;
  }

  .program__item {
    margin-bottom: 30px;
    padding: 0 52px 64px;

    &--losing {
      padding-right: 280px;
    }

    &--gaining {
      padding-right: 314px;
    }
  }

  .program__item::before {
    top: 92px;
    left: 446px;

    width: 200px;
    height: 200px;
  }

  .program__item--losing::after {
    top: 80px;
    left: 476px;

    width: 140px;
    height: 194px;
  }

  .program__item--gaining::after {
    top: 135px;
    left: 412px;

    width: 268px;
    height: 112px;
  }

  .program__title {
    margin-bottom: 25px;
    padding: 75px 0 0;

    font-size: 36px;
    line-height: 37px;
  }

  .program__desc {
    margin-bottom: 55px;
    padding: 0;

    font-size: 16px;
    line-height: 24px;

    border: none;
  }

  .program__link {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    width: 1300px;
    margin-bottom: 75px;
  }

  .program__list {
    flex-direction: row;
  }

  .program__item {
    width: 466px;
    margin: 0 40px;
    padding: 0 52px 60px;
  }

  .program__item::before {
    top: 47px;
    left: 52px;

    width: 100px;
    height: 100px;
  }

  .program__item--losing::after {
    top: 41px;
    left: 66px;

    width: 70px;
    height: 97px;
  }

  .program__item--gaining::after {
    top: 69px;
    left: 34px;

    width: 134px;
    height: 56px;
  }

  .program__title {
    padding-left: 164px;
    margin-bottom: 75px;
  }

  .program__desc {
    margin-bottom: 30px;
  }
}
