.program-selection {
  padding: 0 20px;
}

.program-selection__title {
  margin: 0;
  margin-bottom: 25px;
}

.program-selection__desc {
  font-size: 14px;
  line-height: 18px;
}

.program-selection__footnote {
  margin: 0;

  font-family: $font-second;
  font-size: 14px;
  line-height: 16px;
  color: $fc-grey;
  text-align: center;
}
