.promo {
  padding: 0 20px;

  text-align: center;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  color: $fc-white;
  text-align: center;

  background-color: $bg-green;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  color: $fc-white;

  background-color: $bg-green;
}
