.promo {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 22px;
  padding: 27px 20px 0;

  text-align: center;

  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/index-background-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $fc-white;
  text-align: center;
}

.promo__slogan {
  margin: 0;
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 14px;
  color: $fc-white;
  text-transform: uppercase;
}

.promo__img {
  display: block;
  width: 280px;
  height: auto;
}

@media (min-width: $tablet-width) {
  .promo {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 486px;
    padding: 0 132px 530px 90px;
    margin-bottom: 0;

    background: none;
  }

  .promo__title {
    margin-bottom: 40px;

    font-size: 60px;
    line-height: 60px;
    color: $fc-black;
    text-align: left;
  }

  .promo__slogan {
    margin-bottom: 50px;

    font-size: 20px;
    line-height: 20px;
    color: $fc-black;
  }

  .promo__img {
    position: absolute;
    left: 0;
    bottom: 0;

    min-width: 708px;
    min-height: 609px;

    z-index: -1;
  }

  .promo__button {
    width: 245px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    width: 1220px;
    margin-bottom: 80px;
    padding: 0 110px 189px;

    &::before {
      content: "";

      position: absolute;
      top: -171px;
      left: 50%;

      width: 720px;
      height: 696px;
      background: url("../../img/index-background-desktop@1x.jpg") no-repeat 0;
      background-color: $bg-green;
      z-index: -1;
    }
  }

  .promo__title {
    width: 530px;
    margin-bottom: 42px;
    padding-top: 50px;
    padding-left: 80px;
  }

  .promo__slogan {
    margin-bottom: 52px;
    padding-left: 80px;
  }

  .promo__img {
    position: absolute;
    top: 0;
    left: 50%;

    min-width: 552px;
    min-height: 499px;
  }

  .promo__button {
    margin-left: 80px;
  }
}
