$bg-green: #68b738;
$bg-green-dark: #5eaa2f;
$bg-grey: #f2f2f2;
$bg-grey-dark: #ebebeb;
$bg-white: #ffffff;
$fc-black: #111111;
$fc-grey: #444444;
$fc-white: #ffffff;
$font-main: "Oswald", sans-serif;
$font-second: "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1440px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
